.classroom-text < * {
  text-align: center;
}

.text-area {
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

.code-table {
  width: 100%;
  height: 100%;
  box-shadow:inset 0 0 1px 2px #3c3d39, 0 0 15px rgba(0,0,0,0.5);
  background-color: #272822;
/*  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;*/
}

pre.prettyprint {
  height: 100%;
  overflow: auto;
}

.code-table button {
  position: relative;
}

.notes {
  color: #FFF;
  background: #272822;
  border: none;
  outline: none;
  resize: none;
}

#note-area {
  height: 95%;
  width: 95%;
}

.ui-resizable-s {
  /*position: absolute;*/
  width: 30px;
  height: 10px;
  background: #f2f3f7;
  /*bottom: 50px;*/
  /*right: 50px;*/
 }

 hr:hover {
  cursor: ;
 }

.code-table tr:last-child {
  border-top: 1px solid white;
}

pre ol { counter-reset: item; padding-left: 10px; }
pre li { display: block }
pre li:before { content: counter(item) "  "; counter-increment: item }