#logo{
  margin-top: 5%;
}

#searchbar {
  margin: auto;
  width: 80%;
}

#search {
  margin: 20% 0;
  margin-left: 25%;
}

.searchForm {
  margin-right: 5px;
}

#searchimage {
  padding-top: 15px;
  padding-left: 8px;
}

::-webkit-input-placeholder {
   color: white;
   font-family: sans-serif;
}

#search input[type="text"] {
  /*border: 1px solid #d1d1d1;*/
  background-color: grey;
  border: none;
  font-family: sans-serif;
  font-size: 1.2em;
  color: white;
  width: 60%;
  padding: 24px 5px;
  text-align: center;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  /*text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;*/

  float: left;

  color: white;
}
