.ember-application {
  background: #f2f3f7;
  font-family: 'Source Code Pro';
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.ember-view {
  min-height: 100%;
  position: relative;
}

.body {
  padding-bottom: 50px;
  max-width: 1200px;
  margin: auto;
}

header.main {
  text-align: center;
  height: 150px;
}

header.main a {
  font-weight: normal;
  color: #000;
  text-decoration: none;
}

header.main h1 {
  font-size: 4em;
  margin-bottom: 0;
}

footer {
  text-align: center;
  postition: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  clear: both;
/*  padding: 0 25px;*/
}

footer article {
  padding-top: 30px;
}

footer p, footer a {
  display: inline-block;
}

footer img {
  margin: 8px;
}

footer p {
  vertical-align: top;
}

.column {
  display: inline-block;
  height: 100%;
  float: left;
}

article {
  vertical-align: top;
}

.column.left {
  width: 35%;
}

.column.right {
  margin-right: -100%;
  margin-left: 40%;
  width: 55%;
}

.classroom-list {
  margin-top: 20px;
  background: #707070;
  border-radius: 5px;
  color: #F2F3F7;
}

.classroom-list header {
  color: #000;
  text-align: center;
  padding: 2.5px 0;
  background: #B7B7B7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#classroom-list {
  height: 550px;
  overflow: auto;
}

#classroom-list ul {
  list-style-type: none;
}

#classroom-list h4 {
  margin-bottom: 0;
}

#classroom-list p {
  margin-top: 5px;
}

@media (max-width: 1200px) {
  .body {
    padding: 0 25px 50px 25px;
  }
}

@media (max-width: 700px) {
  header.main {
    height: 75px;
  }

  header.main h1 {
    font-size: 3em;
  }

  .body {
    padding: 0 25px 50px 25px;
  }

  .column {
    display: block;
  }

  .column.left, .column.right {
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 420px) {
  header.main {
    height: 75px;
  }

  header.main h1 {
    font-size: 2em;
  }
}
