.ember-application {
  background: #f2f3f7;
  font-family: 'Source Code Pro';
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.ember-view {
  min-height: 100%;
  position: relative;
}

.body {
  max-width: 1400px;
  min-height: 100%;
  margin: auto;
  /*border: 1px solid black;*/
}

header.main {
  text-align: center;
  height: 75px;
}

header.main a {
  font-weight: normal;
  color: #000;
  text-decoration: none;
}

header.main h1 {
  font-size: 4em;
  margin: 20px 0 0 0;
}

footer {
  text-align: center;
  postition: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}

footer article {
  margin: 0 25px;
}

footer p, footer a {
  display: inline-block;
}

footer img {
  margin: 8px;
}

footer p {
  vertical-align: top;
}

.col1, .col3 {
  display: inline-block;
}

.col1 {
/*  text-align: center;
  height: 100%;
  margin: auto;*/
  width: 25%;
}

.col3 {
  vertical-align: top;
  width: 70%;
}


.folder-node, .file-node {
  list-style: none;
}
.folder-node {
  font-weight: bold;
}

.file-node {
  font-size: 0.8em;
}

.folder-node:before {
  content: "--";
}

.closed:before {
  list-style: none;
  content: "+";
}


a:link {
  color:black;
  text-decoration: none
}

a:visited {
  color:black;
}

a:active {
  font-weight: bold;
}

.sub-directory {
  display: none;
}

article {
  vertical-align: top;
}

@media (max-width: 1200px) {
  .body {
    padding: 0 25px 50px 25px;
  }
}

@media (max-width: 700px) {
  header.main {
    height: 75px;
  }

  header.main h1 {
    font-size: 3em;
  }

  .body {
    padding: 0 25px 50px 25px;
  }

  .column {
    display: block;
  }
}

@media (max-width: 420px) {
  header.main {
    height: 75px;
  }

  header.main h1 {
    font-size: 2em;
  }
}
