/* Put your CSS here */
.ember-application {
  margin: 2%;
  background: #f2f3f7;
  font-family: 'Source Code Pro';
}

header {
  text-align: center;
}

header a {
  font-weight: normal;
  color: #000;
  text-decoration: none;
}

header h1 {
  font-size: 4em;
  margin-bottom: 0;
}

.content {
  text-align: center;
}

.column {
  display: inline-block;
  border: 1px black solid;
  margin: 0 5%;
}

.column.left {
  width: 25%;
}

.column.right {
  width: 50%;
}

/*header > * {
  display: inline-block;
}

nav.main ul {
  display: inline-block;
  text-align: center;
}

li.navigation {
  display: inline-block;
}

li.navigation a {
  font-size: 2em;
}

li.navigation:before {
  content: " | ";
  font-size: 2em
}

li.navigation:first-child:before {
  content: none;
}*/